 <footer>
    <div id="social">
<a href="http://vk.com" targer="_blank"> <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/vkontakte-128.png" alt="VK"></a>
<a href="http://facebook.com" targer="_blank"> <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt="facebook"></a>
<a href="http://twitter.com" targer="_blank"> <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-twitter-128.png" alt="Twitter"></a>
	</div>
        <div id="rights">Все права защищены &copy; <?=date('Y') ?></div>
</footer>