  <div id="wrapper">
        <div id="leftCol">
        	<div id= "bigArticle">
        		О нас<br />

Промышленная группа «Базовый Элемент» объединяет около 100 российских и международных предприятий, работающих в энергетической, горнодобывающей, металлургической, машиностроительной, авиационной, финансовой, сельскохозяйственной и других отраслях.  

Обширный и диверсифицированный портфель активов «Базового Элемента» представляет собой единую бизнес-структуру, предприятия которой эффективно взаимодействуют между собой, реализуя партнерские программы, позволяющие усилить конкурентные преимущества отдельных компаний группы и холдинга в целом.

В состав «Базового Элемента» входят лидеры крупнейших промышленных отраслей. Среди них – ведущий мировой производитель алюминия РУСАЛ, крупнейший в России частный производитель электроэнергии «ЕвроСибЭнерго» (входят в группу En+), автомобильный холдинг номер один в России «Группа ГАЗ» (входит в холдинг «Русские машины»).

Масштабная и активная деятельность предприятий «Базового Элемента» вносит существенный вклад в развитие российской промышленности, экономики и социальной инфраструктуры. Бизнес-группа инвестирует значительные средства в развитие регионов страны. «Базовый Элемент» – один из крупнейших работодателей в России. В течение последних пяти лет компания создала более 15 тыс. новых рабочих мест и планирует создать еще несколько десятков тысяч рабочих мест к 2025 году.

Стратегия роста «Базового Элемента» направлена на укрепление лидерских позиций предприятий группы за счет повышения эффективности производства, расширения промышленной базы и реализации крупных инновационных проектов, а также на содействие социально-экономическому развитию территорий своего присутствия  и обеспечение экологической безопасности производства. 
        	</div>
        </div>
        <%= render "rightCol" %>
    </div>
